<article class="post">
  <header>
    <div class="title">
      <h2>{{ .Title }}</h2>
      <p>Published on {{ .Date.Format "Jan 2, 2006" }}</p>
    </div>
  </header>
  {{ .Content }}
</article>

<aside class="feedback">
  <h3>Feedback</h3>
  Spot a mistake or have something to add to this post? Just want to let me know you like or dislike it?
  Please start a discussion in my <a href="https://lists.sr.ht/~csmith/public-inbox">public inbox</a> by sending
  an e-mail to <a href="mailto:~csmith/public-inbox@lists.sr.ht?subject={{printf "[chameth.com] %s" .Title}}">~csmith/public-inbox@lists.sr.ht</a>.
</aside>
