</div>

<section id="sidebar">
  <header>
    <h1><a href="/">Chameth.com</a></h1>
    <p>Personal website of Chris Smith</p>
  </header>

  <section id="links">
    <h2>Identities</h2>
    <ul class="fa-ul">
      <li id="pgp">
        <i class="fa-li fa-lg fa fa-key" aria-hidden="true"></i>
        <a href="/16402FE2.txt" title="My PGP key">
          460E 2723 CDB6 701A D929<br>
          89D1 F843 D93A 1640 2FE2
        </a>
      </li>
      <li id="twitter">
        <i class="fa-li fa-lg fa fa-twitter" aria-hidden="true"></i>
        <a href="https://twitter.com/MD87_" title="My twitter account">MD87_</a>
      </li>
      <li id="github">
        <i class="fa-li fa-lg fa fa-github" aria-hidden="true"></i>
        <a href="https://github.com/csmith" title="My GitHub account">csmith</a>
      </li>
    </ul>
  </section>

  <section id="posts">
    <h2>Latest posts</h2>
    {{ range first 3 (where .Site.Pages "Type" "post") }}
      <article class="mini-post">
        <header>
          <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        </header>
        <a href="{{ .Permalink }}" class="image"><img src="{{ .Params.thumbnail }}" alt="{{ .Title }}"></a>
      </article>
    {{ end }}
  </section>

  <section id="photos">
    <h2>Recent albums</h2>

    {{ range first 3 (where .Site.Pages "Type" "photos") }}
      <article class="mini-post">
        <header>
          <h3><a href="{{ .Permalink }}">{{ .Params.album_title }}</a></h3>
          <time class="published" datetime="{{ .Date }}">{{ .Params.album_date }}</time>
        </header>
        <a href="{{ .Permalink }}" class="image"><img src="{{ .URL }}{{ (index .Params.photos 0).file }}" alt="{{ (index .Params.photos 0).alt }}"></a>
      </article>
    {{ end }}

  </section>
</section>
</div>
<script src="/res/js/lightbox-plus-jquery.min.js"></script>
</body>
</html>
