<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ if $.IsPage }}
        {{ .Title }}
        &middot;
        {{ .Site.Title }}
      {{ else }}
        {{ .Title }}
        {{ if not $.IsHome }}
          &middot;
          {{ .Site.Title }}
        {{ end }}
      {{ end }}
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/res/css/style.css">
    <link rel="stylesheet" href="/res/css/monokai.css">
    <link rel="stylesheet" href="/res/css/lightbox.min.css">
    {{ if .RSSlink }}
      <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
