<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{ if $.IsPage }}
        {{ .Title }}
        &middot;
        {{ .Site.Title }}
      {{ else }}
        {{ .Title }}
        {{ if not $.IsHome }}
          &middot;
          {{ .Site.Title }}
        {{ end }}
      {{ end }}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" href="/res/fonts/bitter.woff2" as="font" crossorigin>
    {{ $style := resources.Get "style/style.scss" | toCSS (dict "outputStyle" "compressed") | fingerprint }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ with .Site.GetPage "home" }}
      {{ with .OutputFormats.Get "RSS" }}
        <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }} - all posts">
      {{ end }}
    {{ end }}
    {{ if $.IsPage }}
      <meta property="og:url" content="{{ .Permalink }}" />
      <meta property="og:title" content="{{ .Title }}" />
      {{ if $.Param "description" }}
        <meta property="og:description" content="{{ $.Param "description" | htmlEscape }}" />
      {{ end }}
      {{ if $.Param "image" -}}
        <meta property="og:image" content="{{ $.Param "image" | absURL }}" />
      {{- end }}
      {{ range $.Resources.ByType "image" -}}
        {{ if .Params.default }}
          <meta property="og:image" content="{{ .Permalink }}" />
        {{ end }}
      {{- end }}
    {{ end }}
  </head>
  <body id="top">

    <header id="header">
      <h1><a href="/">Chameth.com</a></h1>
      <p>Personal website of Chris&nbsp;Smith</p>
    </header>

    <div id="main">
