<section class="about">
    <h2>
        readme.txt
        <img src="/res/images/glider.png" alt="Glider from the game of life">
    </h2>
    <div class="primary">
        <p>
            I'm Chris, a 30-something software developer from the UK. That's me over in the picture. Or at least, that's
            a randomly generated computer render that perhaps looks something like me.
        </p>
        <p>
            Aside from the obvious interests that come with being a software developer, I like video games, reading,
            puzzle hunts and escape rooms. Some of my favourites and/or current picks include:
        </p>
        <ul>
            <li>Books: Snow Crash, Dune, A Memory Called Empire</li>
            <li>Games: Final Fantasy XIV, Factorio</li>
            <li>Programming languages: Go, Kotlin</li>
        </ul>
        <p>
            This website mainly houses my blog, the most recent posts of which you'll find below.
        </p>
    </div>
    <div class="sidebar">
        <div class="avatar-wrapper">
            <img alt="Computer generated avatar of Chris" class="avatar" loading="lazy"
                 src="https://avatar.chameth.com/" width="256" height="256">
        </div>
    </div>
</section>
{{ $paginator := .Paginate (where (where .Site.Pages "Type" "post") "Kind" "page") }}
{{ range $paginator.Pages }}
<article class="post">
    <header>
        <div class="title">
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p>Published on {{ .Date.Format "Jan 2, 2006" }}</p>
        </div>
    </header>
    {{ .Summary | replaceRE "<sup .*?>.*?</sup>" "" | safeHTML }}
    <footer class="readmore">
        <a href="{{ .RelPermalink }}">Continue reading '{{ .Title }}' &raquo;</a>
    </footer>
</article>

{{ end }}
{{ partial "pagination" . }}
