{{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
{{ range $paginator.Pages }}
<article class="post">
  <header>
    <div class="title">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <p>{{ .Params.strapline }}</p>
    </div>
  </header>
  {{ .Summary }}
  <footer>
    <ul>
      <li><a href="{{ .Permalink }}">Read more</a></li>
      <li><a href="{{ .Permalink }}#disqus_thread" class="comments"></a></li>
    </ul>
  </footer>
</article>

{{ end }}
{{ partial "pagination" . }}

<script id="dsq-count-scr" src="//chameth.disqus.com/count.js" async></script>
