.walks-table {
    border-bottom: none;

    td {
        white-space: nowrap;
    }

    time {
        color: var(--text-alt-colour);
    }

    svg {
        vertical-align: middle;
    }

    .distance-bar-cell {
        width: 100%;

        .distance-bar {
            display: inline-block;
            overflow: hidden;
            border-radius: 5px;
            background-color: var(--background-alt-colour);
            height: 0.5em;
            width: 100%;
            vertical-align: middle;

            .distance-bar-fill {
                fill: var(--accent-colour);
            }
        }
    }
}
