---
layout: page.njk
permalink: /
opengraph:
    title: "Chameth.com: the personal website of Chris Smith"
    type: website
    url: /
    image: /screenshot.png
---

<section class="about">
    {% include '_trading_card.njk' %}
    <div>
        <p>
            <span class="drop">Hello!</span> I'm Chris, a 30-something software developer from the UK. That's me over in
            the picture. Or at least, that's a randomly generated computer render that perhaps looks something like me.
        </p>

        <p>
            As a software developer, my <code>$dayjob</code> generally involves Android app development, but I also
            have an excessive collection of <a href="/projects">side projects</a>. I'm interested in privacy and
            security, occasionally dabble in reverse engineering, and have flirted with making video games in the past.
            Outside of programming, I like video games, reading, puzzle hunts, board games, escape rooms, and tinkering
            with electronics. Some of my favourites and/or current picks include:
        </p>

        <div class="interests">
            {% for category, entries in interests %}
            <section>
                <h3>{{category}}</h3>
                <ul>
                    {% for i in entries %}
                    <li>{{i}}</li>
                    {% endfor %}
                </ul>
            </section>
            {% endfor %}
        </div>

        <p>This website houses <a href="/posts">my blog</a> and <a href="/misc">some other random bits and bobs</a>.</p>

    </div>
</section>
