---
permalink: /catalogue/
layout: page.njk
title: Post catalogue
---

<h2>Post catalogue</h2>

<section class="post-catalogue">
{% asyncEach post in collections.posts %}
    {% include '_post_link.njk' %}
{% endeach %}
</section>
