---
layout: page.njk
permalink: /contact/
---

<h2>Contact me</h2>

<section class="contact">
    <p>
        Fill in the form to send me an e-mail. I'm happy to receive your
        thoughts, comments, corrections, random chats, etc. I try to reply to
        most messages, but make no promises about timeliness!
    </p>

    <p>
        One small caveat: if you need help with something, I'd much prefer you
        ask publicly somewhere first (e.g.: on Stack Overflow, a relevant
        mailing list, forum, etc.). Feel free to then link me to the question.
        Helping people in private doesn't scale!
    </p>

    <div data-contact>
        <noscript>
            Sorry, to reduce the amount of spam I receive, this contact form
            requires JavaScript. You can get in touch with me through
            <a href="https://bsky.app/profile/chameth.com">Bluesky</a>.
        </noscript>
    </div>
</section>
