---
layout: page.njk
permalink: /contact/
---

<h2>Contact me</h2>

<section class="contact">
    <p>
        If you want to get in touch, please fill out the form below. I'm happy
        to receive feedback, comments, corrections, etc.
    </p>
    <p>
        If you need help with something, please please please ask publicly
        somewhere first (e.g.: on Stack Overflow, a relevant mailing list,
        forum, etc). Feel free to then link me to the question. Helping
        people in private doesn't scale!
    </p>
    <iframe id="contact" src="https://contact.chameth.com/"></iframe>

    <p class="disclaimer">
        <strong>Privacy note:</strong>
        Note that unlike the rest of the website, the contact form presented
        here uses cookies to maintain a session. This is required to enable
        some security features. The form results in an e-mail being sent to me,
        so the data may be transmitted via a number of third-party servers.
    </p>
</section>
