---
layout: page.njk
title: Miscellany
permalink: "/misc/"
---

<h2>Miscellany</h2>

<p>This is the everything-but-the-kitchen-sink area of the website.</p>

<ul>
    <li><a href="/uses/">A periodically updated list of the hardware/software/etc that I use</a></li>
    <li><a href="/prints/">Some of the designs I've made for 3D printing</a></li>
</ul>

<hr>

<h3>Snippets / How-tos</h3>

<p>These are small snippets of code or other instructions that I find useful.</p>

{% import '_snippets.njk' as snippets %}
{{ snippets.list(collections.sortedSnippets, 'h4') }}

<hr>

<h3>Poetry</h3>

<p>I occasionally write poems. Note that I didn't say "good poems".</p>

<ul>
    {% for post in collections.poems %}
    <li><a href="{{post.data.permalink}}">{{post.data.title}}</a></li>
    {% endfor %}
</ul>