---
layout: page.njk
title: All posts
permalink: "/posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
pagination:
  data: collections.posts
  size: 5
  alias: posts
  reverse: true
---

<section class="pages-intro">
    <p>
        Here are all the blog posts I've written, starting with the most recent.
        If you're looking for something in particular, you can see all the titles
        on one page in the <a href="/index/">site map</a>.
        If you want to stay up-to-date with what I'm writing, you can subscribe
        to the <a href="/index.xml">RSS feed</a> in your favourite feed reader.
    </p>
</section>

{% for post in posts %}
<article class="excerpt">
    <h2>{{ post.data.title }}</h2>
    <p class="date">Published on {{ post.date | dateFormat }}</p>
    {{ post.page | excerpt | safe }}
    <nav class="readmore">
        <a href="{{ post.url }}">Read more &raquo;</a>
    </nav>
</article>
{% endfor %}

{% include '_pagination_navigation.njk' %}