---
layout: page.njk
title: 3D Prints
permalink: "/prints/"
---

<h2>3D Prints</h2>

<p>
    This is a selection of things I've designed from scratch for 3D printing,
    that might be useful to other people.
</p>

<div class="print-list">
{% for post in collections.prints | reverse %}
{{post.content|safe}}
{% endfor %}
</div>

<p>
    I am releasing these models under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    licence. If you wish to make commercial use of them, please get in touch.
</p>