---
permalink: /projects/
layout: page.njk
title: Projects
---

<h2>Projects</h2>

<p>
    These are some of the open-source side-projects I've worked on recently.
    You can find more on my <a href="https://github.com/csmith">GitHub profile</a>.
</p>

<h3>Self-hosting</h3>

<p>
    I like to self-host things as much as I can, and that requires some
    infrastructure. There's a lot of ready-made software that fills that gap,
    but sometimes none of it quite works how I want it to.
</p>

<div class="projects">
    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-protocol" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M15 6l-7 12"/>
                <path d="M20 6l-7 12"/>
                <path d="M5 14v.015"/>
                <path d="M5 10.015v.015"/>
            </svg>
            Centauri
        </h4>

        <p>
            A reverse proxy that's super easy to configure, obtains certificates
            automatically from an ACME provider like Let's Encrypt, and can even
            expose services over Tailscale instead of the public Internet.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/centauri">GitHub project</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-file-symlink" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M4 21v-4a3 3 0 0 1 3 -3h5"/>
                <path d="M9 17l3 -3l-3 -3"/>
                <path d="M14 3v4a1 1 0 0 0 1 1h4"/>
                <path d="M5 11v-6a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-9.5"/>
            </svg>
            Dotege
        </h4>

        <p>
            A tool to generate configuration files based on currently running
            Docker containers. Originally designed to be used for haproxy, I now use
            it to generate a configuration file for Centauri.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/dotege">GitHub project</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-bell" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"/>
                <path d="M9 17v1a3 3 0 0 0 6 0v-1"/>
            </svg>
            Goplum
        </h4>

        <p>
            A simple, self-hosted monitoring service. Periodically runs checks
            and sends notifications when things go wrong.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/goplum">GitHub project</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-bowl-spoon" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M4 11h16a1 1 0 0 1 1 1v.5c0 1.5 -2.517 5.573 -4 6.5v1a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-1c-1.687 -1.054 -4 -5 -4 -6.5v-.5a1 1 0 0 1 1 -1z"/>
                <path d="M8 7c1.657 0 3 -.895 3 -2s-1.343 -2 -3 -2s-3 .895 -3 2s1.343 2 3 2"/>
                <path d="M11 5h9"/>
            </svg>
            tsp
        </h4>

        <p>
            A small Tailscale proxy for TCP connections. Run it alongside
            another service (like a database or IRC bouncer) and it will allow
            you to access it securely over your tailnet.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/tsp">GitHub project</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-lock-share" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"/>
                <path d="M12 21h-5a2 2 0 0 1 -2 -2v-6a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2"/>
                <path d="M8 11v-4a4 4 0 1 1 8 0v4"/>
                <path d="M16 22l5 -5"/>
                <path d="M21 21.5v-4.5h-4.5"/>
            </svg>
            certwrapper
        </h4>

        <p>
            Wraps another binary, and manages obtaining a certificate for it from
            an ACME provider (such as Let's Encrypt). Whenever the certificate is
            updated, the child binary is sent a signal so it knows to reload.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/certwrapper">GitHub project</a></li>
        </ul>
    </section>
</div>

<h3>Go libraries</h3>

<p>
    Go is my favourite language for writing software in, and I've built up a
    small collection of libraries to make things easier.
</p>

<div class="projects">
    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-flag-cog" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M12.901 14.702a5.014 5.014 0 0 1 -.901 -.702a5 5 0 0 0 -7 0v-9a5 5 0 0 1 7 0a5 5 0 0 0 7 0v6.5"/>
                <path d="M5 21v-7"/>
                <path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                <path d="M19.001 15.5v1.5"/>
                <path d="M19.001 21v1.5"/>
                <path d="M22.032 17.25l-1.299 .75"/>
                <path d="M17.27 20l-1.3 .75"/>
                <path d="M15.97 17.25l1.3 .75"/>
                <path d="M20.733 20l1.3 .75"/>
            </svg>
            envflag
        </h4>

        <p>
            Allows setting standard Go flags via environment variables. Lets
            you write simple code, while still supporting configuring the app
            nicely when using Docker/Kubernetes/etc.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/envflag">GitHub project</a></li>
            <li><a href="https://pkg.go.dev/github.com/csmith/envflag/v2">godocs</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-logs" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M4 12h.01"/>
                <path d="M4 6h.01"/>
                <path d="M4 18h.01"/>
                <path d="M8 18h2"/>
                <path d="M8 12h2"/>
                <path d="M8 6h2"/>
                <path d="M14 6h6"/>
                <path d="M14 12h6"/>
                <path d="M14 18h6"/>
            </svg>
            slogflags
        </h4>

        <p>
            Defines two flags to control Go's structured logging package (log/slog).
            These permit users of your apps to set the logging level and format
            easily, with no boilerplate on your side.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/slogflags">GitHub project</a></li>
            <li><a href="https://pkg.go.dev/github.com/csmith/slogflags">godocs</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-alt" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M4 8h4v4h-4z"/>
                <path d="M6 4l0 4"/>
                <path d="M6 12l0 8"/>
                <path d="M10 14h4v4h-4z"/>
                <path d="M12 4l0 10"/>
                <path d="M12 18l0 2"/>
                <path d="M16 5h4v4h-4z"/>
                <path d="M18 4l0 1"/>
                <path d="M18 9l0 11"/>
            </svg>
            config
        </h4>

        <p>
            For desktop applications that need to persist user configuration.
            Handles storing and loading a YAML file in the appropriate location
            (%AppData% on Windows, ~/.config on Linux, etc).
        </p>

        <ul>
            <li><a href="https://github.com/csmith/config">GitHub project</a></li>
            <li><a href="https://pkg.go.dev/github.com/csmith/config">godocs</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-brand-git" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M16 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                <path d="M12 8m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                <path d="M12 15v-6"/>
                <path d="M15 11l-2 -2"/>
                <path d="M11 7l-1.9 -1.9"/>
                <path d="M13.446 2.6l7.955 7.954a2.045 2.045 0 0 1 0 2.892l-7.955 7.955a2.045 2.045 0 0 1 -2.892 0l-7.955 -7.955a2.045 2.045 0 0 1 0 -2.892l7.955 -7.955a2.045 2.045 0 0 1 2.892 0z"/>
            </svg>
            gitrefs
        </h4>

        <p>
            Provides a simple way to list references from a remote git
            repository over HTTP, without needing a full git client or a
            checkout of the remote repository.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/gitrefs">GitHub project</a></li>
            <li><a href="https://pkg.go.dev/github.com/csmith/gitrefs">godocs</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-news" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11"/>
                <path d="M8 8l4 0"/>
                <path d="M8 12l4 0"/>
                <path d="M8 16l4 0"/>
            </svg>
            latest
        </h4>

        <p>
            A library that lets you find the latest versions of software,
            packages, images, etc.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/latest">GitHub project</a></li>
            <li><a href="https://pkg.go.dev/github.com/csmith/latest">godocs</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-chef-hat" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M12 3c1.918 0 3.52 1.35 3.91 3.151a4 4 0 0 1 2.09 7.723l0 7.126h-12v-7.126a4 4 0 1 1 2.092 -7.723a4 4 0 0 1 3.908 -3.151z"/>
                <path d="M6.161 17.009l11.839 -.009"/>
            </svg>
            legotapas
        </h4>

        <p>
            Provides build constraints for the lego library. This allows you
            to build applications that obtain certificates using ACME DNS
            challenges with a specific provider without having to
            bundle 30+MB of dependencies.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/legotapas">GitHub project</a></li>
            <li><a href="https://pkg.go.dev/github.com/csmith/legotapas">godocs</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-packages" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M7 16.5l-5 -3l5 -3l5 3v5.5l-5 3z"/>
                <path d="M2 13.5v5.5l5 3"/>
                <path d="M7 16.545l5 -3.03"/>
                <path d="M17 16.5l-5 -3l5 -3l5 3v5.5l-5 3z"/>
                <path d="M12 19l5 3"/>
                <path d="M17 16.5l5 -3"/>
                <path d="M12 13.5v-5.5l-5 -3l5 -3l5 3v5.5"/>
                <path d="M7 5.03v5.455"/>
                <path d="M12 8l5 -3"/>
            </svg>
            apkutils
        </h4>

        <p>
            Utilities for operating on Alpine Linux packages and package indices.
            Supports verifying public key signatures, parsing package lists, and
            so on.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/apkutils">GitHub project</a></li>
            <li><a href="https://pkg.go.dev/github.com/csmith/apkutils">godocs</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-paw" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M14.7 13.5c-1.1 -2 -1.441 -2.5 -2.7 -2.5c-1.259 0 -1.736 .755 -2.836 2.747c-.942 1.703 -2.846 1.845 -3.321 3.291c-.097 .265 -.145 .677 -.143 .962c0 1.176 .787 2 1.8 2c1.259 0 3 -1 4.5 -1s3.241 1 4.5 1c1.013 0 1.8 -.823 1.8 -2c0 -.285 -.049 -.697 -.146 -.962c-.475 -1.451 -2.512 -1.835 -3.454 -3.538z"/>
                <path d="M20.188 8.082a1.039 1.039 0 0 0 -.406 -.082h-.015c-.735 .012 -1.56 .75 -1.993 1.866c-.519 1.335 -.28 2.7 .538 3.052c.129 .055 .267 .082 .406 .082c.739 0 1.575 -.742 2.011 -1.866c.516 -1.335 .273 -2.7 -.54 -3.052z"/>
                <path d="M9.474 9c.055 0 .109 0 .163 -.011c.944 -.128 1.533 -1.346 1.32 -2.722c-.203 -1.297 -1.047 -2.267 -1.932 -2.267c-.055 0 -.109 0 -.163 .011c-.944 .128 -1.533 1.346 -1.32 2.722c.204 1.293 1.048 2.267 1.933 2.267z"/>
                <path d="M16.456 6.733c.214 -1.376 -.375 -2.594 -1.32 -2.722a1.164 1.164 0 0 0 -.162 -.011c-.885 0 -1.728 .97 -1.93 2.267c-.214 1.376 .375 2.594 1.32 2.722c.054 .007 .108 .011 .162 .011c.885 0 1.73 -.974 1.93 -2.267z"/>
                <path d="M5.69 12.918c.816 -.352 1.054 -1.719 .536 -3.052c-.436 -1.124 -1.271 -1.866 -2.009 -1.866c-.14 0 -.277 .027 -.407 .082c-.816 .352 -1.054 1.719 -.536 3.052c.436 1.124 1.271 1.866 2.009 1.866c.14 0 .277 -.027 .407 -.082z"/>
            </svg>
            aca
        </h4>

        <p>
            A generator for unique, human-friendly identifiers. Useful when
            users may need to share codes with each other, such as when inviting
            them to play a game. Each identifier is an adjective, colour and
            animal, like 'satisfied-yellow-tapir'.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/aca">GitHub project</a></li>
            <li><a href="https://pkg.go.dev/github.com/csmith/aca">godocs</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-filled icon-tabler-bottle" fill="currentColor" height="24"
                 viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M13 1a2 2 0 0 1 1.995 1.85l.005 .15v.5c0 1.317 .381 2.604 1.094 3.705l.17 .25l.05 .072a9.093 9.093 0 0 1 1.68 4.92l.006 .354v6.199a3 3 0 0 1 -2.824 2.995l-.176 .005h-6a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-6.2a9.1 9.1 0 0 1 1.486 -4.982l.2 -.292l.05 -.069a6.823 6.823 0 0 0 1.264 -3.957v-.5a2 2 0 0 1 1.85 -1.995l.15 -.005h2zm.362 5h-2.724a8.827 8.827 0 0 1 -1.08 2.334l-.194 .284l-.05 .069a7.091 7.091 0 0 0 -1.307 3.798l-.003 .125a3.33 3.33 0 0 1 1.975 -.61a3.4 3.4 0 0 1 2.833 1.417c.27 .375 .706 .593 1.209 .583a1.4 1.4 0 0 0 1.166 -.583a3.4 3.4 0 0 1 .81 -.8l.003 .183c0 -1.37 -.396 -2.707 -1.137 -3.852l-.228 -.332a8.827 8.827 0 0 1 -1.273 -2.616z"/>
            </svg>
            hotsource
        </h4>

        <p>
            Enables live reloading of web-based frontends when files are changed
            on disk with minimal setup.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/hotsource">GitHub project</a></li>
            <li><a href="https://pkg.go.dev/github.com/csmith/hotsource">godocs</a></li>
        </ul>
    </section>
</div>

<h3>Tools and services</h3>

Utilities and services and other things I've written that I can't nearly categorise any further.

<div class="projects">
    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-automation" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M13 20.693c-.905 .628 -2.36 .292 -2.675 -1.01a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.492 .362 1.716 2.219 .674 3.03"/>
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"/>
                <path d="M17 22l5 -3l-5 -3z"/>
            </svg>
            Contempt
        </h4>

        <p>
            Container file templating engine. Allows you to generate a Dockerfile
            (or Containerfile) from a template, substituting in the latest version
            of its dependencies, packages, and so on.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/contempt">GitHub project</a></li>
            <li><a href="https://github.com/csmith/dockerfiles">My contempt-powered dockerfiles repo</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-puzzle" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"/>
            </svg>
            Puzzad
        </h4>

        <p>
            A web-based, self-paced puzzle hunt. The site is open source: it uses a Go backend and a Svelte frontend.
            The puzzles are not open source, but there are several 'adventures' available to play for free!
        </p>

        <ul>
            <li><a href="https://puzzad.com">Website</a></li>
            <li><a href="https://github.com/puzzad">GitHub organisation</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-list-check" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M3.5 5.5l1.5 1.5l2.5 -2.5"/>
                <path d="M3.5 11.5l1.5 1.5l2.5 -2.5"/>
                <path d="M3.5 17.5l1.5 1.5l2.5 -2.5"/>
                <path d="M11 6l9 0"/>
                <path d="M11 12l9 0"/>
                <path d="M11 18l9 0"/>
            </svg>
            Todoistager
        </h4>

        <p>
            Tool to automatically apply age-based labels to tasks in your Todoist
            account, so you can review those that have been hanging around for
            way too long.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/todoistager">GitHub project</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"/>
            </svg>
            GitHub release redirector
        </h4>

        <p>
            Redirects HTTP requests to assets from the latest release of a GitHub
            project. Designed to enable simple automatic updates in clients.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/github-release-redirector">GitHub project</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-fish-hook" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M16 9v6a5 5 0 0 1 -10 0v-4l3 3"/>
                <path d="M16 7m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"/>
                <path d="M16 5v-2"/>
            </svg>
            Webhooked
        </h4>

        <p>
            Command-line utility to automatically adds a webhook to all of your
            GitHub projects. Because for some reason there's no account-wide
            webhooks. Still.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/webhooked">GitHub project</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-headset" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M4 14v-3a8 8 0 1 1 16 0v3"/>
                <path d="M18 19c0 1.657 -2.686 3 -6 3"/>
                <path d="M4 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3z"/>
                <path d="M15 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3z"/>
            </svg>
            Alphabat
        </h4>

        <p>
            Simple command line tool to retrieve the battery status of a HyperX
            Cloud Alpha Wireless headset. (This also has the side effect of
            making the headset report the correct battery level when pressing
            the power button.)
        </p>

        <ul>
            <li><a href="https://github.com/csmith/alphabat">GitHub project</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-mail" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"/>
                <path d="M3 7l9 6l9 -6"/>
            </svg>
            Contact form
        </h4>

        <p>
            A simple web service that allows users to type into a form, and send
            you an e-mail. Supports CAPTCHAs to prevent spam, custom templates,
            etc.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/contact-form">GitHub project</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-meeple" fill="none" height="24"
                 stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M9 20h-5a1 1 0 0 1 -1 -1c0 -2 3.378 -4.907 4 -6c-1 0 -4 -.5 -4 -2c0 -2 4 -3.5 6 -4c0 -1.5 .5 -4 3 -4s3 2.5 3 4c2 .5 6 2 6 4c0 1.5 -3 2 -4 2c.622 1.093 4 4 4 6a1 1 0 0 1 -1 1h-5c-1 0 -2 -4 -3 -4s-2 4 -3 4z"/>
            </svg>
            Splendid
        </h4>

        <p>
            A multi-player, web-based board game engine. It features a nodejs backend
            that handles game logic, and a Svelte-based frontend that displays the game
            state and allows players to interact with it.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/splendid">GitHub project</a></li>
            <li><a href="https://splendid.chameth.dev/">Demo</a></li>
        </ul>
    </section>

    <section class="project">
        <h4>
            <svg class="icon icon-tabler icons-tabler-outline icon-tabler-fish" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none" stroke="none"/>
                <path d="M16.69 7.44a6.973 6.973 0 0 0 -1.69 4.56c0 1.747 .64 3.345 1.699 4.571"/>
                <path d="M2 9.504c7.715 8.647 14.75 10.265 20 2.498c-5.25 -7.761 -12.285 -6.142 -20 2.504"/>
                <path d="M18 11v.01"/>
                <path d="M11.5 10.5c-.667 1 -.667 2 0 3"/>
            </svg>
            gofish
        </h4>

        <p>
            A tool that can be dropped into a coding agent "I'm done" hook,
            that automatically checks for code issues (code style, static
            analysis, failing tests, etc) and reports them to the LLM fix.
        </p>

        <ul>
            <li><a href="https://github.com/csmith/gofish">GitHub project</a></li>
        </ul>
    </section>
</div>