---
layout: page.njk
title: Snippets
permalink: "/snippets/"
---

<h2>Snippets / How-tos</h2>

<p>These are small snippets of code or other instructions that I find useful.</p>

{% import '_snippets.njk' as snippets %}
{{ snippets.list(collections.sortedSnippets, 'h3') }}
