<section class="h-card {{hcardTags}}" hidden="hidden">
    <a class="p-name u-url" href="https://chameth.com/">Chris Smith</a>
    <img class="u-photo" src="https://chameth.com/avatar.webp">
    <span class="p-nickname">MD87</span>
    #nobridge
</section>