<header>
    <a href="/">
        <h1>
            <span class="prelude">// Personal website of</span>
            <span class="title">Chris Smith</span>
        </h1>
    </a>
    <nav>
        <a href="/">About</a>
        <a href="/posts">Posts</a>
        <a href="/projects">Projects</a>
        <a href="/snippets">Snippets</a>
        <a href="/misc">Misc</a>
    </nav>
</header>