<nav>
    <ol>
        {% if pagination.href.previous %}
            <li><a href="{{ pagination.href.first }}">&laquo; First</a></li>
            <li><a href="{{ pagination.href.previous }}">&laquo; Previous</a></li>
        {% endif %}
        {% set currentIndex = pagination.hrefs.indexOf(page.url) %}
        {% if currentIndex >= 3 %}
        <li>…</li>
        {% endif %}

        {%- for pageEntry in pagination.pages %}
        {% set offset = (loop.index0 - currentIndex) | abs %}
        {% if offset < 3 %}
        <li>
            {% if page.url == pagination.hrefs[loop.index0] %}
            Page {{ loop.index }}
            {% else %}
            <a href="{{ pagination.hrefs[loop.index0] }}">Page {{ loop.index }}</a>
            {% endif %}
        </li>
        {% endif %}
        {%- endfor %}

        {% if pagination.hrefs.length - currentIndex > 3 %}
        <li>…</li>
        {% endif %}

        {% if pagination.href.next %}
            <li><a href="{{ pagination.href.next }}">Next &raquo;</a></li>
            <li><a href="{{ pagination.href.last }}">Last &raquo;</a></li>
        {% endif %}
    </ol>
</nav>