<nav>
    <ol>
        {% if pagination.href.previous %}<li><a href="{{ pagination.href.previous }}">&laquo; Previous</a></li>{% endif %}
        {%- for pageEntry in pagination.pages %}
        <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
        {%- endfor %}
        {% if pagination.href.next %}<li><a href="{{ pagination.href.next }}">Next &raquo;</a></li>{% endif %}
    </ol>
</nav>