<a href="{{post.url}}" class="post-link">
    <article>
        {% if post.data.opengraph.image %}
        <img src="{{post.data.opengraph.image}}" alt="Lead image for {{post.data.title}}">
        {% endif %}
        <h3>{{ post.data.title }}</h3>
        <p>{{ post.page | summary | safe }}</p>
    </article>
</a>