<a class="post-link" href="{{post.url}}">
    <article>
        <div class="img-holder">
            {% if post.data.opengraph.image %}
            <picture>
                {% set baseNameRegex = r/\.(jpg|png)$/ %}
                {% set baseName = post.data.opengraph.image.replace(baseNameRegex, '') %}
                {% if "{{baseName}}.avif" | exists %}<source srcset="{{baseName}}.avif" type="image/avif">{% endif %}
                {% if "{{baseName}}.webp" | exists %}<source srcset="{{baseName}}.webp" type="image/webp">{% endif %}
                <img src="{{post.data.opengraph.image}}" alt="Lead image for {{post.data.title}}">
            </picture>
            {% else %}
            <div aria-hidden="true" class="placeholder">
                <div>
                    ????????????????<br>
                    ?????????<span>?</span>??????<br>
                    ????????????????<br>
                    ????????????????<br>
                </div>
            </div>
            {% endif %}
        </div>
        <h3>{{ post.data.title }}</h3>
        <p>{{ post.page | summary | safe }}</p>
    </article>
</a>