<div class="tcg-outer">
    <div class="tcg-flip">
        <div class="tcg-front">
            <div class="tcg-inner">
                <img alt="Image of Chris, distorted with scan lines and a hologram effect" src="/avatar.webp">
                <dl class="tcg-properties">
                    <dt>Name:</dt>
                    <dd>Chris Smith</dd>
                    <dt>Class:</dt>
                    <dd>Programmer</dd>
                    <dt>Type:</dt>
                    <dd>Human</dd>
                    <dt>HP:</dt>
                    <dd>929</dd>
                </dl>
                <table class="tcg-skills">
                    <tr>
                        <td>✪✪</td>
                        <td><em>Yak Shave</em> After attacking, add 1d6 side project tokens to this card.
                        </td>
                    </tr>
                    <tr>
                        <td>✪✪✪</td>
                        <td><em>Side project</em> Multiply all damage by number of side project tokens.
                        </td>
                    </tr>
                </table>
                <footer>
                    <span>01/001</span>
                </footer>
            </div>
        </div>
        <div class="tcg-back">
            <p class="tcg-back-emboss">
                Chameth.com
            </p>
            <p class="tcg-back-hello">
                Hello :)
            </p>
        </div>
    </div>
</div>