<div class="tcg-outer">
    <div class="tcg-inner">
        <img alt="Random computer generated image of me" src="https://avatar.chameth.com/">
        <dl class="tcg-properties">
            <dt>Name:</dt>
            <dd>Chris Smith</dd>
            <dt>Class:</dt>
            <dd>Programmer</dd>
            <dt>Type:</dt>
            <dd>Human</dd>
            <dt>HP:</dt>
            <dd>929</dd>
        </dl>
        <table class="tcg-skills">
            <tr>
                <td>✪✪✪</td>
                <td><em>Side project</em> Place one side project token on this card. Multiply damage by number of
                    side projects.
                </td>
                <td>19x</td>
            </tr>
            <tr>
                <td>✪✪</td>
                <td><em>Yak Shave</em> After attacking, become distracted with other tangentially related tasks for
                    1d6 turns. Flip a coin, on heads add a new side project token to this card.
                </td>
                <td>87</td>
            </tr>
        </table>
        <footer>
            <span>Illus. Stable Diffusion</span>
            <span>01/001</span>
        </footer>
    </div>
</div>