---
layout: page.njk
---
<article class="h-entry">
    <header>
        <h2 class="p-name">{{ title }}</h2>
        <p class="date">Published on
            <time class="dt-published" datetime="{{ date | isoDateFormat }}">{{ date | dateFormat }}</time>
        </p>
    </header>

    {% set yearsOld = date | yearsSince %}
    {% if yearsOld >= 5 %}
    <aside class="old-post-warning">
        <p>
            Warning: this post is over {{ yearsOld }} years old and might be out of date.
            Technology, society and my opinions may have shifted in the time since.
            Instructions may no longer make sense, software may no longer be available, etc.
            Caveat lector.
        </p>
    </aside>
    {% endif %}

    <div class="e-content">
        {{ content | safe }}
    </div>

    <hr class="end-of-post">

    <section>
        <h3>What do you think?</h3>
        <p>
            Have feedback? Spotted a mistake? Drop me <a href="/contact/">an e-mail</a>
            or a <a href="https://bsky.app/intent/compose?text=@chameth.com">message on BlueSky</a>.
        </p>
    </section>

    {% set rel = collections.posts | related(tags) %}
    {% if rel | length > 0 %}
    <section>
        <h3>Related posts</h3>
        <div class="post-links">
            {% asyncEach post in rel | head(4) %}
            {% include '_post_link.njk' %}
            {% endeach %}
        </div>
    </section>
    {% endif %}

    <section hidden>
        {% set hcardTags = "p-author" %}
        {% include '_hcard.njk' %}

        <a class="u-url u-uid" href="{{ page.url | absoluteUrl('https://chameth.com/') }}"></a>

        <p class="p-summary">
            {{ page | summary | safe }}
        </p>
    </section>
</article>

<script src="/littlefoot.js"></script>
<script type="application/javascript">
    littlefoot.littlefoot({
        activateDelay: 0,
        buttonTemplate: `<sup id="fnref<% number %>" class="footnote-ref"><a href="#fn<% number %>" role="doc-noteref">[<% number %>]</a></sup>`,
    });
</script>