---
layout: page.njk
---
<article class="h-entry">
    <header>
        <h2 class="p-name">{{ title }}</h2>
        <p class="date">Published on
            <time class="dt-published" datetime="{{ date | isoDateFormat }}">{{ date | dateFormat }}</time>
        </p>
    </header>

    {% set yearsOld = date | yearsSince %}
    {% if yearsOld >= 5 %}
    <aside class="old-post-warning">
        <p>
            Warning: this post is over {{ yearsOld }} years old and might be out of date.
            Technology, society and my opinions may have shifted in the time since.
            Instructions may no longer make sense, software may no longer be available, etc.
            Caveat lector.
        </p>
    </aside>
    {% endif %}

    <div class="e-content">
        {{ content | safe }}
    </div>

    <hr class="end-of-post">

    <section>
        <h3>Thanks for reading!</h3>
        <div class="feedback-links">
            <a class="feedback" href="https://bsky.app/intent/compose?text=@chameth.com">
                <svg height="48" role="img" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479.815 2.736 3.713 3.66 6.383 3.364.136-.02.275-.039.415-.056-.138.022-.276.04-.415.056-3.912.58-7.387 2.005-2.83 7.078 5.013 5.19 6.87-1.113 7.823-4.308.953 3.195 2.05 9.271 7.733 4.308 4.267-4.308 1.172-6.498-2.74-7.078a8.741 8.741 0 0 1-.415-.056c.14.017.279.036.415.056 2.67.297 5.568-.628 6.383-3.364.246-.828.624-5.79.624-6.478 0-.69-.139-1.861-.902-2.206-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8Z"/>
                </svg>
                <span>
                    Want to comment on this post? Point out a mistake?
                    Send me a message on BlueSky!
                </span>
            </a>
            <a class="feedback" href="/contact/">
                <svg height="48" role="img" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.61 12c0 1.99-1.62 3.61-3.61 3.61-1.99 0-3.61-1.62-3.61-3.61 0-1.99 1.62-3.61 3.61-3.61 1.99 0 3.61 1.62 3.61 3.61M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12c2.424 0 4.761-.722 6.76-2.087l.034-.024-1.617-1.879-.027.017A9.494 9.494 0 0 1 12 21.54c-5.26 0-9.54-4.28-9.54-9.54 0-5.26 4.28-9.54 9.54-9.54 5.26 0 9.54 4.28 9.54 9.54a9.63 9.63 0 0 1-.225 2.05c-.301 1.239-1.169 1.618-1.82 1.568-.654-.053-1.42-.52-1.426-1.661V12A6.076 6.076 0 0 0 12 5.93 6.076 6.076 0 0 0 5.93 12 6.076 6.076 0 0 0 12 18.07a6.02 6.02 0 0 0 4.3-1.792 3.9 3.9 0 0 0 3.32 1.805c.874 0 1.74-.292 2.437-.821.719-.547 1.256-1.336 1.553-2.285.047-.154.135-.504.135-.507l.002-.013c.175-.76.253-1.52.253-2.457 0-6.617-5.383-12-12-12"/>
                </svg>
                <span>
                    Want to get in touch privately instead?
                    Use this form to send me an e-mail.
                </span>
            </a>
            <a class="feedback" href="https://ko-fi.com/csmith">
                <svg height="48" role="img" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.881 8.948c-.773-4.085-4.859-4.593-4.859-4.593H.723c-.604 0-.679.798-.679.798s-.082 7.324-.022 11.822c.164 2.424 2.586 2.672 2.586 2.672s8.267-.023 11.966-.049c2.438-.426 2.683-2.566 2.658-3.734 4.352.24 7.422-2.831 6.649-6.916zm-11.062 3.511c-1.246 1.453-4.011 3.976-4.011 3.976s-.121.119-.31.023c-.076-.057-.108-.09-.108-.09-.443-.441-3.368-3.049-4.034-3.954-.709-.965-1.041-2.7-.091-3.71.951-1.01 3.005-1.086 4.363.407 0 0 1.565-1.782 3.468-.963 1.904.82 1.832 3.011.723 4.311zm6.173.478c-.928.116-1.682.028-1.682.028V7.284h1.77s1.971.551 1.971 2.638c0 1.913-.985 2.667-2.059 3.015z"/>
                </svg>
                <span>
                    Found this helpful? Or just really, really enjoyed it?
                    You could buy me a coffee to say thanks.
                </span>
            </a>
        </div>
    </section>

    {% set rel = collections.posts | related(tags) %}
    {% if rel | length > 0 %}
    <section>
        <h3>Related posts</h3>
        <div class="post-links">
            {% asyncEach post in rel | head(4) %}
            {% include '_post_link.njk' %}
            {% endeach %}
        </div>
    </section>
    {% endif %}

    <section hidden>
        {% set hcardTags = "p-author" %}
        {% include '_hcard.njk' %}

        <a class="u-url u-uid" href="{{ page.url | absoluteUrl('https://chameth.com/') }}"></a>

        <p class="p-summary">
            {{ page | summary | safe }}
        </p>
    </section>
</article>

<script src="/littlefoot.js"></script>
<script type="application/javascript">
    littlefoot.littlefoot({
        activateDelay: 0,
        buttonTemplate: `<sup id="fnref<% number %>" class="footnote-ref"><a href="#fn<% number %>" role="doc-noteref">[<% number %>]</a></sup>`,
    });
</script>