<!doctype html>
<html lang="en">
<head>
    <title>{% if title %}{{ title }} &middot; Chameth.com{% else %}Chameth.com: the personal website of Chris Smith{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {% stylesheet %}
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="alternate" type="application/atom+xml" title="RSS feed" href="/index.xml">
    <link rel="canonical" href="{{ page.url | absoluteUrl('https://chameth.com/') }}"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    {% if opengraph %}
    <meta property="og:title" content="{{ opengraph.title }}" />
    <meta property="og:type" content="{{ opengraph.type }}" />
    <meta property="og:url" content="{{ opengraph.url | absoluteUrl('https://chameth.com/') }}" />
    {% if opengraph.image %}
    <meta property="og:image" content="{{ opengraph.image | absoluteUrl('https://chameth.com/') }}" />
    {% endif %}
    {% endif %}
    <link rel="preconnect" href="https://u.c5h.io">
    <script defer src="https://u.c5h.io/script.js" data-website-id="347648d8-8953-4291-832d-a6040127a43e"></script>
    <script defer src="/contact.js"></script>
</head>
<body>
{% include '_header.njk' %}
<main>
    {{ content | safe }}
</main>
{% include '_footer.njk' %}
</body>
</html>