:root {
    --border-radius: 10px;

    --small-space: 0.5rem;
    --smedium-space: 1rem;
    --medium-space: 2.5rem;
    --large-space: 5rem;

    --page-gutter: clamp(16px, 4vw, 72px);
    --content-width: min(1900px, 100vw - 2 * var(--page-gutter));
    --content-margin: calc((100vw - var(--content-width)) / 2);

    @media (width <= 1200px) {
        --small-space: 0.5rem;
        --smedium-space: 1rem;
        --medium-space: 2rem;
        --large-space: 4rem;
    }

    @media (width <= 800px) {
        --small-space: 0.4rem;
        --smedium-space: 0.8rem;
        --medium-space: 1.5rem;
        --large-space: 2.5rem;
    }
}
