.films-list {
    display: flex;
    flex-direction: column;
    gap: var(--smedium-space);
    list-style-type: none;
    margin: 0 0 var(--large-space) 0;
    padding: 0;

    li {
        &,
        * {
            margin: 0;
            padding: 0;
        }

        a {
            display: grid;
            grid-template-areas: "image header" "image watches" "image rating" "image blank";
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto auto 1fr;
            grid-column-gap: var(--smedium-space);
            grid-row-gap: var(--smedium-space);
            overflow: hidden;

            & > img {
                grid-area: image;
                max-height: 200px;
                border-right: 1px solid var(--background-alt-colour);
            }

            h3 {
                margin-top: var(--smedium-space);
                .year {
                    color: var(--text-alt-colour);
                    font-size: var(--font-size-large);
                }
                .position {
                    color: var(--text-alt-colour);
                }
            }

            p {
                color: var(--text-alt-colour);
                font-family: "Berkeley Mono", monospace;
                font-size: var(--font-size-small);
            }
        }
    }
}

ol.recent-films,
ol.watched-films {
    list-style-type: none;
    gap: var(--smedium-space);
    margin: var(--small-space) 0;
    padding: 0;

    &.recent-films {
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        mask: linear-gradient(to right, black, black 95%, transparent 100%);
        padding: 3px 0 5px 3px;
        margin-left: -3px;

        li {
            width: 150px;
            flex-shrink: 0;
        }
    }

    &.watched-films {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    li {
        margin: 0;
        padding: 0;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--small-space);
            padding-bottom: var(--small-space);
            overflow: hidden;

            & > img {
                width: 100%;
                height: 225px;
                object-fit: cover;
                border-bottom: 1px solid var(--background-alt-colour);
            }

            time,
            & > div {
                padding: 0 var(--small-space);
                font-family: "Berkeley Mono", monospace;
                font-size: var(--font-size-small);
                color: var(--text-alt-colour);
            }
        }
    }
}

.film-rewatch {
    display: inline-block;
    font-size: var(--font-size-tiny);
    padding: 0 var(--small-space);
    background-color: var(--accent-colour);
    border-radius: var(--border-radius);
}

.film-spoilers {
    display: inline-block;
    font-size: var(--font-size-tiny);
    padding: 0 var(--small-space);
    background-color: darkred;
    border-radius: var(--border-radius);
}

.film-page {
    display: grid;

    @media (width >= 1200px) {
        grid-template-areas: "header sidebar" "review sidebar" "review -";
        grid-template-columns: calc(var(--content-width) - 300px) 300px;
        grid-template-rows: auto auto 1fr;
        column-gap: var(--medium-space);

        aside {
            rotate: 1.5deg;
        }

        .film-review-content {
            padding-right: calc(
                300px + var(--medium-space) + var(--content-margin)
            );

            &::after {
                right: calc(
                    300px + var(--medium-space) + var(--content-margin)
                );
            }
        }
    }

    @media (width <= 1200px) {
        grid-template-areas: "header" "review" "sidebar";
        grid-template-columns: 1fr;

        aside {
            margin-top: var(--medium-space);
        }
    }

    & > header {
        grid-area: header;
    }

    & > div {
        grid-area: review;
    }

    & > aside {
        grid-area: sidebar;
    }

    .film-page-review {
        position: relative;

        .film-review-content p {
            font-family: "Chris Hand", sans-serif;
            font-size: var(--font-size-xlarge);
        }

        & > h3 {
            margin-bottom: 0;
        }

        & > p {
            margin-top: 0;

            span:not(:first-child) {
                margin-left: var(--smedium-space);
            }
        }
    }

    aside {
        z-index: 1;
        display: flex;
        flex-direction: column;
        max-width: 300px;
        overflow: hidden;
        gap: var(--smedium-space);
        padding-bottom: var(--medium-space);

        img {
            width: 100%;
        }

        p,
        a {
            margin: 0 var(--small-space);
            font-size: var(--font-size-small);
            text-align: center;
            background: none;

            &.release-date {
                color: var(--text-alt-colour);
            }
        }
    }
}

[data-film-id="37735"] {
    h2::before {
        content: "A.";
        color: red;
    }

    h3::before {
        content: "AA.";
        color: red;
    }
}

[data-film-id="44214"] {
    .star-rating img {
        filter: invert(1) grayscale(1) contrast(400%);
    }
}

[data-film-id="545611"] {
    blockquote p:last-child::after {
        content: " 🥯";
        font-size: var(--font-size-large);
        filter: grayscale(1) invert(1);
    }
}

[data-film-id="603"] {
    blockquote {
        background-color: black;
        color: lawngreen;
        p {
            font-family: "Berkeley Mono", monospace !important;

            &:last-child::after {
                content: " █";
                animation: terminal-blink 1s step-end infinite;
            }
        }

        &::before,
        &::after {
            color: lawngreen;
        }
    }
}

[data-film-id="7326"] {
    & + hr {
        background: repeating-linear-gradient(
            -45deg,
            white 0,
            white 10px,
            #f15c22 10px,
            #f15c22 20px
        );
    }
}

@keyframes terminal-blink {
    50% {
        opacity: 0;
    }
}
