.post-links-parent {
    container-type: inline-size;
}

.post-links {
    display: flex;
    gap: var(--medium-space);
    flex-direction: row;

    @container (width < 1000px) {
        flex-direction: column;
    }
}

.post-catalogue {
    display: grid;
    gap: var(--medium-space);
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
