article h2 {
    margin-bottom: 0;
}

article section + section {
    margin-top: var(--medium-space);
}

.date,
.meta {
    margin: var(--small-space) 0 var(--medium-space) 0;
    color: var(--text-alt-colour);
    padding-top: 0;
    font-size: var(--font-size-tiny);
    font-family: "Berkeley Mono", monospace;
    text-transform: uppercase;

    &::before {
        content: "// ";
    }
}

.paste-metadata {
    color: var(--text-alt-colour);
    padding: 0;
    margin: 0 0 var(--small-space) 0;
    font-size: var(--font-size-tiny);
    font-family: "Berkeley Mono", monospace;
    text-transform: uppercase;
    float: right;
}

@media (width >= 1200px) {
    .e-content figure.right:first-child {
        margin-top: calc(
            -1 *
                (
                    var(--font-size-xlarge) + var(--font-size-tiny) +
                        var(--medium-space)
                )
        );
    }
}

.footnotes {
    color: var(--text-alt-colour);
    background-color: var(--background-colour);
    border: 1px solid var(--background-alt-colour);
    box-shadow: 3px 3px 5px black;
    border-radius: var(--border-radius);
    margin: var(--smedium-space) 0;
    padding: var(--small-space);
    padding-top: var(--raised-box-title-padding);
    position: relative;

    &::before {
        content: "Footnotes";
        font-family: "Berkeley Mono", monospace;
        text-transform: uppercase;
        font-size: var(--font-size-tiny);
        line-height: calc(1.5 * var(--font-size-tiny));
        color: var(--text-alt-colour);
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        border-bottom: 1px solid var(--background-alt-colour);
        padding-bottom: 5px;
        padding-left: calc(5px + var(--border-radius) / 2);
    }

    p {
        margin: var(--smedium-space) 0;
    }

    hr {
        display: none;
    }

    li:first-child p {
        margin-top: 0;
    }

    li:last-child p {
        margin-bottom: 0;
    }
}
