article h2 {
    margin-bottom: 0;
}

article section + section {
    margin-top: var(--medium-space);
}

.date,
.meta {
    margin: var(--small-space) 0 var(--medium-space) 0;
    color: var(--text-alt-colour);
    padding-top: 0;
    font-size: var(--font-size-tiny);
    font-family: "Berkeley Mono", monospace;
    text-transform: uppercase;

    &::before {
        content: "// ";
    }
}

.paste-metadata {
    color: var(--text-alt-colour);
    padding: 0;
    margin: 0 0 var(--small-space) 0;
    font-size: var(--font-size-tiny);
    font-family: "Berkeley Mono", monospace;
    text-transform: uppercase;
    float: right;
}

hr.end-of-post {
    clear: both;
    border: 0;
    width: 100%;
    margin: var(--medium-space) 0;
    height: var(--medium-space);
    background: repeating-linear-gradient(
        -45deg,
        var(--accent-colour) 0,
        var(--accent-colour) 10px,
        transparent 10px,
        transparent 20px
    );
}

@media (width >= 1200px) {
    .e-content figure.right:first-child {
        margin-top: calc(
            -1 *
                (
                    var(--font-size-xlarge) + var(--font-size-tiny) +
                        var(--medium-space)
                )
        );
    }
}

.footnotes {
    color: var(--text-alt-colour);
    background-color: var(--background-colour);
    border: 1px solid var(--background-alt-colour);
    box-shadow: 3px 3px 5px black;
    border-radius: var(--border-radius);
    margin: var(--medium-space) 0;
    padding: var(--small-space);
    padding-top: calc(2 * var(--small-space) + var(--font-size-small));
    position: relative;

    &::before {
        content: "Footnotes";
        font-family: "Berkeley Mono", monospace;
        text-transform: uppercase;
        font-size: var(--font-size-small);
        position: absolute;
        top: 5px;
        left: calc(5px + var(--border-radius) / 2);
    }

    p {
        margin: var(--smedium-space) 0;
    }

    hr {
        display: none;
    }
}
