ol.top-artists {
    list-style-type: none;
    gap: var(--smedium-space);
    margin: var(--small-space) 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    li {
        margin: 0;
        padding: 0;

        .raised-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            box-sizing: border-box;
            gap: var(--small-space);
            padding-bottom: var(--small-space);
            overflow: hidden;

            & > img,
            .artist-placeholder {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
                border-bottom: 1px solid var(--background-alt-colour);
                margin-bottom: var(--small-space);
            }

            .artist-placeholder {
                background-color: var(--background-alt-colour);
            }

            h3 {
                padding: 0 var(--small-space);
                margin: 0;
                font-size: var(--font-size-large);

                .position {
                    font-size: var(--font-size-regular);
                    color: var(--text-alt-colour);
                }
            }

            .artist-details {
                padding: 0 var(--small-space);
                font-size: var(--font-size-small);
                color: var(--text-alt-colour);
            }
        }
    }
}

.now-playing {
    display: inline-flex;
    align-items: stretch;
    gap: var(--smedium-space);
    padding-left: var(--smedium-space);
    padding-right: var(--smedium-space);
    padding-bottom: var(--small-space);

    img {
        height: 120px;
    }

    .now-playing-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--small-space);

        .artist-track {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .album-name {
            color: var(--text-alt-colour);
        }

        .play-status {
            font-family: "Berkeley Mono", monospace;
            font-size: var(--font-size-small);
            color: var(--text-alt-colour);
        }
    }
}
