.syndications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--small-space);
    color: var(--text-alt-colour);

    ul {
        display: contents;
        list-style-type: none;
    }

    p,
    ul,
    li {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        border-bottom: 1px solid var(--accent-colour);

        svg {
            margin-left: var(--small-space);
            fill: var(--text-colour);
            vertical-align: sub;
        }
    }
}
