.walks-table {
    border-bottom: none;

    td {
        white-space: nowrap;
    }

    time {
        color: var(--text-alt-colour);
    }

    svg {
        vertical-align: middle;
    }

    .distance-bar-cell {
        width: 100%;

        .distance-bar {
            display: inline-block;
            overflow: hidden;
            border-radius: 5px;
            background-color: var(--background-alt-colour);
            height: 0.5em;
            width: 100%;
            vertical-align: middle;

            .distance-bar-fill {
                fill: var(--accent-colour);
            }
        }
    }
}

.walking-stats-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--smedium-space);
}

.walkingdistance-badge {
    display: inline-grid;
    grid-template-areas:
        "image title"
        "image reps"
        "progress progress";

    grid-template-columns: auto 1fr;

    padding: var(--smedium-space);
    row-gap: var(--small-space);
    column-gap: var(--smedium-space);

    svg {
        grid-area: image;
        fill: var(--text-colour);
        width: 64px;
        height: 64px;
    }

    h4 {
        grid-area: title;
        font-size: var(--font-size-regular);
        font-family: inherit;
        margin: 0;
        padding: 0;
    }

    .times {
        grid-area: reps;
        margin: 0;
        font-size: var(--font-size-large);

        span {
            color: var(--text-alt-colour);
        }
    }

    .progress-bar {
        grid-area: progress;
        border-radius: 5px;
        height: 0.5em;
        width: 100%;
        background-color: var(--background-alt-colour);

        .progress-fill {
            fill: var(--accent-colour);
        }
    }
}

.walkingspeed {
    margin: var(--smedium-space) 0;

    svg {
        width: 100%;
        height: auto;

        text {
            font-family: "Berkeley Mono", monospace;
        }
    }
}
