.wow-char {
    display: flex;
    align-items: stretch;
    width: 600px;
    padding-right: var(--smedium-space);
    margin-bottom: var(--medium-space);
    gap: var(--smedium-space);

    .overview {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--small-space);

        img {
            height: 400px;
            filter: drop-shadow(10px 10px 10px var(--background-alt-colour));
            margin-bottom: var(--smedium-space);
        }
    }

    .detail {
        font-size: var(--font-size-small);
        color: var(--text-alt-colour);
        margin: 0;
        padding: 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: var(--small-space);
        padding: var(--small-space) var(--smedium-space);

        h3,
        h4 {
            margin: 0;
            padding: 0;
        }

        .realm {
            color: var(--text-alt-colour);
            font-size: var(--font-size-small);
            padding-left: 4px;
        }

        .professions {
            font-size: var(--font-size-small);

            td {
                vertical-align: middle;
                padding: 1px 0;
            }

            td:first-child {
                color: var(--text-alt-colour);
                padding-right: var(--small-space);
            }

            .tier-count {
                color: var(--text-alt-colour);
                padding-left: var(--small-space);
                text-align: right;
            }

            .tier-progress {
                accent-color: var(--accent-colour);
            }
        }

        table + h4 {
            margin-top: var(--small-space);
        }

        .mythic-plus {
            font-size: var(--font-size-small);

            td,
            th {
                vertical-align: middle;
                padding: 1px 0;
                text-align: right;
            }

            .dungeon {
                color: var(--text-alt-colour);
                text-align: left;
                padding-right: var(--small-space);
            }

            .level,
            .duration {
                color: var(--text-alt-colour);
                padding-left: var(--small-space);
            }

            .rating {
                padding-left: var(--small-space);
            }

            .total th,
            .total td {
                border-top: 1px solid var(--background-alt-colour);
                font-weight: normal;
            }
        }

        .links {
            margin-top: auto;
            display: flex;
            justify-content: flex-end;
            gap: var(--smedium-space);
            font-size: var(--font-size-tiny);
            padding-top: var(--smedium-space);

            a {
                text-decoration-thickness: 2px;
            }
        }
    }

    @media (width <= 750px) {
        width: unset;
        flex-direction: column;

        .info {
            padding: var(--medium-space);
        }
    }
}

.wow-class-death-knight {
    color: #c41e3a;
}
.wow-class-demon-hunter {
    color: #a330c9;
}
.wow-class-druid {
    color: #ff7c0a;
}
.wow-class-evoker {
    color: #33937f;
}
.wow-class-hunter {
    color: #aad372;
}
.wow-class-mage {
    color: #3fc7eb;
}
.wow-class-monk {
    color: #00ff98;
}
.wow-class-paladin {
    color: #f48cba;
}
.wow-class-priest {
    color: #ffffff;
}
.wow-class-rogue {
    color: #fff468;
}
.wow-class-shaman {
    color: #0070dd;
}
.wow-class-warlock {
    color: #8788ee;
}
.wow-class-warrior {
    color: #c69b6d;
}

.wow-char-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: var(--smedium-space);
    margin: var(--small-space) 0;

    .wow-char {
        width: unset;
        padding-right: unset;
        margin-bottom: unset;
    }

    @media (width <= 750px) {
        grid-template-columns: 1fr;
    }
}
