// Site-wide colour definitions

$darkest-gray: #2a2f35
$dark-gray: #565656
$gray: #787878
$light-gray: #efefef
$lightest-gray: #f7f7f7
$cyan: #49bf9d

$light-green: #eeffee
$green: #669966

$text: $darkest-gray

$update-border: $green
$update-background: $light-green

$code-border: $light-gray
$code-background: $lightest-gray

$link-color: #1d78bd
$link-underline-color: lighten($link-color, 25%)

$visited-link-color: #6a4c96
$visited-link-underline-color: lighten($visited-link-color, 25%)

$active-link-color: darken($link-color, 25%)
$active-link-underline-color: darken($link-color, 25%)
