// Site-wide colour definitions

$darkest-gray: #2a2f35
$dark-gray: #565656
$gray: #787878
$light-gray: #efefef
$lightest-gray: #f7f7f7
$cyan: #49bf9d

$light-green: #eeffee
$green: #669966

$text: $darkest-gray

$update-border: $green
$update-background: $light-green

$code-border: $light-gray
$code-background: $lightest-gray
