h1 {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 34px;
    height: 50px;
    background-image: url('/moods/birthday-hat.png');
    position: absolute;
    top: -15px;
    right: -15px;
    rotate: 20deg;
    transition: rotate 300ms ease-in-out;
  }

  &:hover {
    &::after {
      rotate: 30deg;
    }
  }
}

body > footer {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 135px;
    height: 200px;
    background-image: url('/moods/balloons.png');
    position: absolute;
    top: -220px;
    left: 40px;
    animation: sway 10s ease-in-out infinite;
  }
}

@media (width <= 2000px) {
  body > main {
    padding-bottom: 150px;
  }
}

@keyframes sway {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
