{{ $img := $.Page.Resources.GetMatch (.Get 1) }}
<figure class="{{ .Get 0 }}">
    <picture>
        {{ $baseUrl := replaceRE "\\.(jpg|png)$" "" $img.RelPermalink }}
        <source srcset="{{ $baseUrl }}.avif" type="image/avif">
        <source srcset="{{ $baseUrl }}.webp" type="image/webp">
        <img src="{{ $img.RelPermalink }}" alt="{{ $img.Name }}" loading="lazy" width="{{ $img.Width }}" height="{{ $img.Height }}">
    </picture>
    <figcaption>{{ if strings.HasSuffix $img.Permalink $img.Title }}{{ $img.Name }}{{ else }}{{ $img.Title }}{{ end }}</figcaption>
</figure>
