// Site-wide colour definitions

$gray: #787878;
$mid-gray: #a3a3a3;
$light-gray: #efefef;
$lightest-gray: #f7f7f7;

$light-green: #eeffee;

:root {
  --accent-colour: #fc4a1a;

  --update-border-colour: #669966;
  --update-background-colour: #334433;

  --sidenote-border-colour: #666666;
  --sidenote-background-colour: #444444;

  --feedback-border-colour: #669999;
  --feedback-background-colour: #334444;

  --blockquote-border-colour: #efefef;
  --separator-colour: #a3a3a3;

  --link-underline-colour: transparent;
  --visited-link-underline-colour: transparent;

  --active-link-colour: var(--accent-colour);
  --active-link-underline-colour: var(--accent-colour);

  --active-visited-link-colour: var(--accent-colour);
  --active-visited-link-underline-colour: var(--accent-colour);

  --figure-caption-colour: var(--text-colour);

  --background: #333333;
  --background-alt: #444444;
  --subtitle-colour: #aaaaaa;
  --text-colour: #cccccc;
  --heading-colour: #dddddd;

  --inline-code-background-colour: #444444;
  --inline-code-border-colour: #636363;

  --footer-background-colour: #222222;

  --table-border-colour: #111111;
  --table-header-background-colour: #111111;

  --link-colour: #ffffff;
  --visited-link-colour: #ffffff;

  --figure-border-colour: #444444;

  @media (prefers-color-scheme: light) {
    --background: #ffffff;
    --background-alt: #efefef;
    --subtitle-colour: #666666;
    --text-colour: #2a2f35;
    --heading-colour: #2a2f35;

    --inline-code-background-colour: #f7f7f7;
    --inline-code-border-colour: #a3a3a3;
    --update-background-colour: #eeffee;
    --feedback-background-colour: #eeffff;
    --footer-background-colour: #efefef;

    --sidenote-border-colour: #999999;
    --sidenote-background-colour: #efefef;

    --table-border-colour: #cccccc;
    --table-header-background-colour: #cccccc;

    --link-colour: #000000;
    --visited-link-colour: #000000;

    --figure-border-colour: #dddddd;
  }
}

