// Defines font families

$font-dir: '/res/fonts/';

:root {
  --text-font: 'Bitter';
  --header-font: 'Bitter';
}

// Provides src properties for woff2 and woff font files.
@mixin woff-font-src($file-name) {
  $font: $font-dir + $file-name;
  src: url($font + '.woff2') format('woff2'), url($font + '.woff') format('woff');
}

@font-face {
  font-family: 'Bitter';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  @include woff-font-src('bitter');
}
