// Header elements (h1..h6)

h1, h4, h5, h6
  font-weight: bold

h1, h2, h3, h4, h5, h6
  color: var(--heading-colour)
  font-family: var(--header-font), serif
  margin: var(--content-padding-small) 0

  a, a:visited
    font-weight: normal
