// Blocks used to describe updates to posts

aside.sidenote {
  display: block;
  border-left: solid 10px var(--sidenote-border-colour);
  border-right: solid 10px var(--sidenote-border-colour);
  background-color: var(--sidenote-background-colour);
  padding: 1em;
  margin: 0 auto 2em auto;
  max-width: 80%;

  @media screen and (max-width: 980px) {
    max-width: 100%;
  }

  h5 {
    margin-bottom: 0.6em;
    margin-top: 0;
  }

  ins {
    text-decoration: none;
  }
}
