// Basic tables

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
  border: 4px solid var(--table-border-colour);

  tbody tr {
    border: solid 2px var(--table-border-colour);
    border-left: 0;
    border-right: 0;

    false {
      background-color: var(--background-alt);
    }
  }

  td {
    padding: 0.75em 0.75em;
  }

  th {
    font-weight: bold;
    padding: 0.75em;
    text-align: left;
  }

  thead {
    border-bottom: solid 2px var(--table-border-colour);
    background-color: var(--table-header-background-colour);
  }

  tfoot {
    border-top: solid 2px var(--table-border-colour);
  }
}
