// Properties relating to text

body {
  color: var(--text-colour);
  font-family: var(--text-font), serif;
  font-weight: 400;
  line-height: 1.618em;
  -webkit-text-size-adjust: none;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

sub {
  position: relative;
  top: 0.5em;
}

sup {
  position: relative;
  top: -0.5em;
}

p code {
  background: var(--inline-code-background-colour);
  border-radius: .35em;
  border: solid 2px var(--inline-code-border-colour);
  font-family: "Courier New", monospace;
  margin: 0 .1em;
  padding: .1em .2em;
}

a {
  text-decoration-skip-ink: auto;
  font-weight: bold;
  transition: all 150ms ease-in-out;

  &:link {
    color: var(--link-colour);
    text-decoration-color: var(--link-underline-colour);

    &:hover, &:focus {
      color: var(--active-link-colour);
      text-decoration-color: var(--active-link-underline-colour);
    }
  }

  &:visited {
    color: var(--visited-link-colour);
    text-decoration-color: var(--visited-link-underline-colour);

    &:hover, &:focus {
      color: var(--active-visited-link-colour);
      text-decoration-color: var(--active-visited-link-underline-colour);
    }
  }
}
