.wow-char {
    display: flex;
    align-items: stretch;
    width: 600px;
    padding-right: var(--smedium-space);
    margin-bottom: var(--medium-space);
    gap: var(--medium-space);

    img {
        height: 400px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: var(--small-space);
        padding-top: var(--small-space);

        h3 {
            margin: 0;
            padding: 0;
        }

        .realm {
            color: var(--text-alt-colour);
            font-size: var(--font-size-small);
            padding-left: 4px;
        }

        .detail {
            font-size: var(--font-size-small);
            color: var(--text-alt-colour);
        }
    }

    @media (width <= 750px) {
        width: unset;
        flex-direction: column;

        img {
            height: unset;
            width: 100%;
        }

        .info {
            padding: var(--medium-space);
        }
    }
}

.wow-class-death-knight {
    color: #c41e3a;
}
.wow-class-demon-hunter {
    color: #a330c9;
}
.wow-class-druid {
    color: #ff7c0a;
}
.wow-class-evoker {
    color: #33937f;
}
.wow-class-hunter {
    color: #aad372;
}
.wow-class-mage {
    color: #3fc7eb;
}
.wow-class-monk {
    color: #00ff98;
}
.wow-class-paladin {
    color: #f48cba;
}
.wow-class-priest {
    color: #ffffff;
}
.wow-class-rogue {
    color: #fff468;
}
.wow-class-shaman {
    color: #0070dd;
}
.wow-class-warlock {
    color: #8788ee;
}
.wow-class-warrior {
    color: #c69b6d;
}

.wow-char-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: var(--smedium-space);
    margin: var(--small-space) 0;

    .wow-char {
        width: unset;
        padding-right: unset;
        margin-bottom: unset;
    }

    @media (width <= 750px) {
        grid-template-columns: 1fr;
    }
}
