@use "_typography";

article h2 {
  margin-bottom: 0;
}

.date {
  margin: var(--small-space) 0 var(--medium-space) 0;
  color: var(--text-alt-colour);
  padding-top: 0;
  font-size: typography.$tiny;
  font-family: "Berkeley Mono", monospace;
  text-transform: uppercase;

  &::before {
    content: '// '
  }
}