article h2 {
  margin-bottom: 0;
}

.date {
  margin: var(--small-space) 0 var(--medium-space) 0;
  color: var(--text-alt-colour);
  padding-top: 0;
  font-size: var(--font-size-tiny);
  font-family: "Berkeley Mono", monospace;
  text-transform: uppercase;

  &::before {
    content: '// '
  }
}

hr.end-of-post {
  clear: both;
  border: 0;
  width: 100%;
  margin: var(--large-space) 0;
  height: var(--medium-space);
  background: repeating-linear-gradient(-45deg, var(--accent-colour) 0, var(--accent-colour) 10px, transparent 10px, transparent 20px);
}