@use "_colours";
@use "_dimens";
@use "_typography";

article h2 {
  margin-bottom: 0;
}

.date {
  margin: dimens.$small-space 0 dimens.$medium-space 0;
  color: colours.$text-alt;
  padding-top: 0;
  font-size: typography.$tiny;
  font-family: "Berkeley Mono", monospace;
  text-transform: uppercase;

  &::before {
    content: '// '
  }
}