@use "_typography";

blockquote {
  border-left: 10px solid var(--accent-colour);
  padding-left: 15px;
  font-size: typography.$large;
}

aside.update {
  background-color: var(--background-alt-colour);
  border-radius: var(--border-radius);
  padding: var(--medium-space);
  border: 3px solid var(--accent-colour);
  box-shadow: 0 0 20px var(--accent-colour);
  margin: var(--medium-space) 0;

  ins {
    text-decoration: none;
  }

  h5 {
    &::before {
      content: '';
      margin: 0;
    }

    text-transform: uppercase;
    color: var(--text-alt-colour);
    font-size: typography.$tiny;
    margin-top: 0;
    margin-bottom: var(--small-space);

    & + p {
      margin-top: var(--small-space);
    }
  }

  *:last-child {
    margin-bottom: 0;
  }
}

aside.sidenote {
  border-left: 10px solid var(--background-alt-colour);
  padding-left: 15px;

  h5 {
    &::before {
      content: '';
      margin: 0;
    }
  }
}