@use "_colours";
@use "_typography";

figure {
  margin: var(--medium-space) var(--medium-space) var(--small-space) var(--medium-space);
  padding: var(--medium-space);
  border-radius: var(--border-radius);
  text-align: center;
  background-color: colours.$background-alt;
  max-width: 100%;
  font-family: "Berkeley Mono", monospace;
  font-size: typography.$tiny;
  line-height: 1;
  text-transform: uppercase;
  color: colours.$text-alt;

  img, video {
    max-width: 100%;
    max-height: 100%;
    border-radius: var(--border-radius);
    height: auto;
  }

  @media (max-width: 500px) {
    margin: 0;
  }

  @media (min-width: 1200px) {
    &.left {
      float: left;
      max-width: 30%;
      margin-left: 0;
    }

    &.right {
      float: right;
      max-width: 30%;
      margin-right: 0;
    }
  }

  figcaption {
    margin-top: var(--medium-space);

    p {
      margin: 0;
    }
  }

  &.full {
    margin-top: var(--medium-space);
    margin-bottom: var(--medium-space);
  }
}