@use "_typography";

.footer-wave {
  display: block;
  margin-top: var(--large-space);
  height: 60px;
}

body > footer {
  margin-top: 0;
  padding: var(--small-space) var(--content-margin) var(--small-space) var(--content-margin);
  background-color: var(--background-alt-colour);

  display: grid;
  grid-template-columns: 1fr 1fr;

  li p {
    font-family: "Berkeley Mono", monospace;
    font-size: var(--font-size-small);
    color: var(--text-alt-colour);
  }

  // Other links
  section:nth-child(2) {
    text-align: right;
  }

  // Licenses
  section:nth-child(3) {
    margin-top: var(--medium-space);
    grid-column: 1 / span 2;
    text-align: center;

    font-family: "Berkeley Mono", monospace;
    font-size: var(--font-size-tiny);

    @media (max-width: 500px) {
      text-align: left;
      p {
        margin-bottom: var(--medium-space);
      }
    }
  }

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;

    section:nth-child(2) {
      text-align: left;
    }
  }

  h2 {
    font-size: var(--font-size-large);
  }

  ul, a, p {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: var(--small-space);
  }

  ul.icons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 25px;

    a {
      background: none;

      &::after {
        display: none;
      }
    }

    svg {
      width: 48px;
      height: 48px;
      fill: var(--text-colour);
      transition: fill 150ms ease-out;

      &:hover {
        fill: var(--link-colour);
      }
    }
  }
}