@use "_dimens";
@use "_typography";

.snippets {
  display: grid;
  grid-template-columns: 1fr 1fr;

  section {
    padding-top: dimens.$medium-space;
  }

  h4 {
    margin-top: 0;
  }

  a {
    font-family: "Berkeley Mono", monospace;
    font-size: typography.$small;
    text-decoration-thickness: 1px;
  }
}