@use "_reset";

@use "_colours";
@use "_dimens";

@use "_about";
@use "_articles";
@use "_asides";
@use "_contact";
@use "_figures";
@use "_footer";
@use "_header";
@use "_pagination";
@use "_prints";
@use "_projects";
@use "_snippets";
@use "_syntax";
@use "_tables";
@use "_typography";

body {
  background-color: var(--background-colour);
  color: var(--text-colour);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  width: var(--content-width);
  margin: 0 auto;
  flex-grow: 1;
}

hr {
  border: 0;
  border-top: 5px solid var(--accent-colour);
  margin: var(--medium-space) 0;
}

ol {
  list-style-type: decimal;
  padding-left: 2em;

  li {
    padding-left: 0.5em;
    margin-bottom: var(--small-space);
  }
}

ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.footnote-ref {
  font-size: var(--font-size-tiny);
  vertical-align: super;
  padding: 0.2em;
  a {
    text-decoration-thickness: 2px;
  }
}

*[hidden] {
  display: none;
}