a.film-list {
    display: grid;
    max-height: calc(
        200px + var(--smedium-space) * 2 + var(--raised-box-title-padding)
    );
    grid-template-areas: "header images" "description images" "meta images";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    row-gap: var(--small-space);

    @media (width <= 800px) {
        grid-template-areas: "header" "description" "images" "meta";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        max-height: inherit;
    }

    padding-left: var(--smedium-space);
    padding-right: var(--smedium-space);
    padding-bottom: var(--smedium-space);

    & + & {
        margin-top: var(--medium-space);
    }

    *,
    *:hover,
    *:active,
    *:focus {
        margin: 0;
        padding: 0;
    }

    h3 {
        font-size: var(--font-size-xxlarge);
    }

    .description {
        p + p {
            margin-top: var(--smedium-space);
        }

        overflow: hidden;
        --mask-height: 1.5em;
        mask: linear-gradient(
            to bottom,
            black,
            black var(--mask-height),
            transparent calc(100% - var(--mask-height)),
            transparent
        );
    }

    .count {
        color: var(--text-alt-colour);
        font-size: var(--font-size-small);
        font-family: "Berkeley Mono", monospace;
    }

    .poster-stack {
        --overlap: 0.3;
        grid-area: images;
        position: relative;
        width: calc(133px + (133px * 4 * var(--overlap)));
        height: 200px;

        @media (width < 400px) {
            --overlap: 0.2;
        }

        img {
            max-height: 200px;
            max-width: 133px;
            border-radius: var(--border-radius);
            position: absolute;
            top: 0;

            /* There must be a nicer way to do this... Please tell me how. */
            &:nth-child(1) {
                z-index: 5;
                left: 0;
            }
            &:nth-child(2) {
                z-index: 4;
                left: calc(133px * var(--overlap) * 1);
            }
            &:nth-child(3) {
                z-index: 3;
                left: calc(133px * var(--overlap) * 2);
            }
            &:nth-child(4) {
                z-index: 2;
                left: calc(133px * var(--overlap) * 3);
            }
            &:nth-child(5) {
                z-index: 1;
                left: calc(133px * var(--overlap) * 4);
            }
        }
    }
}
