<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/res/css/style.css">
    <link rel="stylesheet" href="/res/css/monokai.css">
    <link rel="stylesheet" href="/res/css/lightbox.min.css">
    {% feed_meta %}
  </head>
  <body>
    <div id="wrapper">
      <div id="main">
        {{content}}
      </div>

      <section id="sidebar">
        <header>
          <h1><a href="/">Chameth.com</a></h1>
          <p>Personal website of <br><em>Chris Smith</em></p>
        </header>

        <section id="photos">
          <h2>Recent albums</h2>
          <article class="mini-post">
            <header>
              <h3><a href="/photos/2015-08-Maui/">Maui, Hawaii, USA</a></h3>
              <time class="published" datetime="2015-08-01">August 2015</time>
            </header>
            <a href="/photos/2015-08-Maui/" class="image"><img src="/photos/2015-08-Maui/G0122882.jpg" alt="Turtle in blue water"></a>
          </article>

          <article class="mini-post">
            <header>
              <h3><a href="/photos/2013-02-SanFrancisco/">San Francisco, CA, USA</a></h3>
              <time class="published" datetime="2013-02-01">February 2013</time>
            </header>
            <a href="/photos/2013-02-SanFrancisco/" class="image"><img src="/photos/2013-02-SanFrancisco/2013-02-02%2011.46.28.JPG" alt="The Golden Gate Bridge"></a>
          </article>
        </section>
      </section>
    </div>
    <script src="/res/js/lightbox-plus-jquery.min.js"></script>
  </body>
</html>
