---
layout: default
---
<article class="post">
  <header>
    <div class="title">
      <h2>{{ page.album_title }}</h2>
      <p>{{ page.album_date }}</p>
    </div>
  </header>
  {% for photo in page.photos %}
    <a href="{{page.path | replace:'photos/','https://photos.chameth.com/' | replace:'index.html',photo.file}}"
       class="image gallery"
       data-lightbox="gallery"
       data-title="{{photo.caption}}">
      <img src="{{ photo.file }}" alt="{{photo.alt}}">
    </a>
  {% endfor %}
</article>
