@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

[data-contact], [data-nod] {
  position: relative;

  .loading, .result {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      width: 48px;
      height: 48px;
      border: 5px solid var(--accent-colour);
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    p {
      background-color: var(--accent-colour);
      padding: var(--medium-space);
      color: var(--text-colour);
      text-align: center;
      border-radius: var(--border-radius);
    }
  }

  &:has(.loading) form, &:has(.result) form {
    opacity: 0.5;
  }

  form {
    transition: opacity 200ms ease-in-out;
  }

  form.contact {
    display: flex;
    flex-direction: column;
    gap: var(--small-space);

    input, textarea {
      font-size: var(--font-size-small);
      background-color: var(--background-alt-colour);
      color: var(--text-colour);
      border: 1px solid var(--accent-colour);
      border-radius: 2px;
      padding: var(--small-space);
    }

    textarea {
      min-height: 200px;
      resize: vertical;
    }

    button {
      font-size: var(--font-size-small);
      background-color: var(--accent-colour);
      color: var(--text-colour);
      border: 0;
      text-transform: uppercase;
      padding: var(--small-space);
      border-radius: 2px;
      cursor: pointer;
    }
  }

  form.nod {
    --button-size: 125px;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--smedium-space);
    background-color: var(--accent-alt-colour);
    border-radius: calc((var(--button-size) + var(--smedium-space)) / 2);
    padding: var(--smedium-space);

    button {
      display: inline-block;
      border-radius: calc(var(--button-size) / 2);
      height: var(--button-size);
      width: var(--button-size);
      background-color: var(--accent-colour);
      color: var(--text-colour);
      font-size: var(--font-size-xlarge);
      cursor: pointer;
      border: none;
      transition: box-shadow 200ms ease-in-out;

      &:hover, &:active, &:focus {
        box-shadow: 0 0 20px var(--accent-colour);
      }
    }

    div {
      align-self: center;
      text-align: center;
    }

    p {
      font-family: "Chris Hand", sans-serif;
      font-size: var(--font-size-xlarge);
      line-height: var(--font-size-xlarge);
      margin: 0;
      padding: 0;
    }
  }
}