figure {
    margin: var(--medium-space) var(--medium-space) var(--small-space)
        var(--medium-space);
    padding: var(--medium-space);
    border-radius: var(--border-radius);
    text-align: center;
    background-color: var(--background-alt-colour);
    max-width: 100%;
    font-family: "Chris Hand", sans-serif;
    font-size: var(--font-size-xlarge);
    line-height: 1;
    color: var(--text-alt-colour);
    position: relative;
    z-index: 1;

    img,
    video {
        max-width: 100%;
        max-height: 100%;
        border-radius: var(--border-radius);
        height: auto;
    }

    @media (max-width: 500px) {
        margin: 0;
    }

    @media (min-width: 1200px) {
        &.left {
            float: left;
            max-width: 30%;
            margin-left: calc(-1 * clamp(0px, var(--content-margin), 50px));
            transform: rotate(-2deg);
            margin-right: calc(var(--medium-space) * 1.5);

            img,
            video {
                transform: rotate(1.5deg);
            }
        }

        &.right {
            float: right;
            max-width: 30%;
            margin-right: calc(-1 * clamp(0px, var(--content-margin), 50px));
            transform: rotate(2deg);
            margin-left: calc(var(--medium-space) * 1.5);

            img,
            video {
                transform: rotate(-1.5deg);
            }
        }

        &.left,
        &.right {
            position: relative;
            box-shadow: -5px 5px 10px var(--background-colour);
            margin-bottom: var(--medium-space);

            &::before,
            &::after {
                content: "";
                display: block;
                position: absolute;
                left: calc(50% - 50px);
                width: 100px;
                height: 40px;
                background-color: var(--accent-colour);
                opacity: 0.15;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            }

            &::before {
                top: -20px;
                transform: rotate(4deg);
            }

            &::after {
                bottom: -20px;
                transform: rotate(-8deg);
            }
        }
    }

    figcaption {
        margin-top: var(--medium-space);

        p {
            margin: 0;
        }
    }

    &.full {
        margin: var(--medium-space) calc(-1 * var(--content-margin));
        width: 100vw;
        max-width: 100vw;
        border-radius: 0;
    }
}
