.film-review-parent {
  container-type: inline-size;
}

.film-review {
  display: grid;
  grid-template-areas:
      "image header"
      "image body";
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto 1fr;
  background-color: var(--background-alt-colour);
  border-radius: var(--border-radius);
  padding: 0;
  column-gap: var(--smedium-space);
  row-gap: var(--small-space);
  margin: var(--smedium-space) 0;
  box-shadow: 0 0 3px var(--accent-colour);
  overflow: hidden;

  @container (width >= 700px) {
    height: 225px;

    img {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
  }

  @container (width < 700px) {
    grid-template-areas: "header" "image" "body";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    padding: var(--smedium-space);

    header {
      grid-template-columns: 100% !important;
      grid-template-rows: auto auto auto auto;

      time {
        text-align: left !important;
      }
    }
  }

  img {
    grid-area: image;
    max-width: 100%;
    max-height: 225px;
  }

  header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    align-items: center;
    column-gap: var(--small-space);
    margin-top: var(--smedium-space);
    margin-right: var(--smedium-space);

    h3 {
      &::before { content: none; }
      font-size: var(--font-size-xlarge);
      line-height: var(--font-size-xlarge);
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    time {
      text-align: right;
      font-size: var(--font-size-tiny);
      font-family: "Berkeley Mono", monospace;
      text-transform: uppercase;
    }
  }

  .rewatch {
    display: inline-block;
    font-size: var(--font-size-tiny);
    padding: 0 var(--small-space);
    background-color: var(--accent-colour);
    border-radius: var(--border-radius);
  }

  .spoilers {
    display: inline-block;
    font-size: var(--font-size-tiny);
    padding: 0 var(--small-space);
    background-color: darkred;
    border-radius: var(--border-radius);
  }

  & > div {
    padding-bottom: var(--smedium-space);
    padding-right: var(--smedium-space);
    overflow-y: auto;

    p:first-child { margin-top: 0; }
    p:last-child { margin-bottom: 0; }
  }
}

.film-reviews-parent {
  container-type: inline-size;
}

.film-reviews {
  display: grid;
  column-gap: var(--smedium-space);

  @container (width >= 1500px) {
    grid-template-columns: 1fr 1fr;
  }

  @container (width < 1500px) {
    grid-template-columns: 1fr;
  }
}