.footer-wave {
    display: block;
    margin-top: var(--large-space);
    height: 60px;
}

body > footer {
    position: relative;
    margin-top: 0;
    padding: var(--small-space) var(--content-margin) var(--small-space)
        var(--content-margin);
    background-color: var(--background-alt-colour);

    display: grid;
    grid-template-columns: 1fr 1fr;

    li p {
        font-family: "Berkeley Mono", monospace;
        font-size: var(--font-size-small);
        color: var(--text-alt-colour);
    }

    /* Other links */
    section:nth-child(2) {
        text-align: right;
    }

    /* Licenses */
    section:nth-child(3) {
        margin-top: var(--medium-space);
        grid-column: 1 / span 2;
        text-align: center;

        font-family: "Berkeley Mono", monospace;
        font-size: var(--font-size-tiny);

        @media (width <= 500px) {
            text-align: left;
            p {
                margin-bottom: var(--medium-space);
            }
        }
    }

    @media (width <= 1000px) {
        display: flex;
        flex-direction: column;

        section:nth-child(2) {
            text-align: left;
        }
    }

    h2 {
        font-size: var(--font-size-xlarge);

        &:has(a) {
            display: flex;
        }

        &::before {
            font-size: var(--font-size-xlarge);
        }

        a {
            font-size: var(--font-size-xlarge);
            color: var(--accent-colour);
            border: 1px solid var(--accent-colour);
            display: inline-block;
            box-sizing: content-box;
            height: 24px;
            width: 24px;
            padding: 2px;
            border-radius: 4px;
            margin-left: calc(var(--medium-space) / 2);
            background-color: var(--background-colour);
            transition:
                background-position 300ms ease-in-out,
                color 300ms ease-in-out;

            &:hover,
            &:active,
            &:focus {
                color: var(--text-highlight-colour);
            }
        }
    }

    ul,
    a,
    p {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: var(--small-space);
    }

    ul.icons {
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 25px;

        a {
            background: none;

            &::after {
                display: none;
            }
        }

        svg {
            width: 48px;
            height: 48px;
            fill: var(--text-colour);
            transition: fill 150ms ease-out;

            &:hover {
                fill: var(--link-colour);
            }
        }

        @media (width <= 1000px) {
            justify-content: left;
        }
    }

    .stats {
        .stats-rollover {
            position: absolute;
            bottom: var(--smedium-space);
            right: var(--smedium-space);
            border-radius: 100%;
            width: calc(1em + 3 * var(--small-space));
            height: calc(1em + 3 * var(--small-space));
            background-color: var(--background-colour);
            cursor: help;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .stats-details {
            position: absolute;
            bottom: var(--smedium-space);
            right: calc(
                2 * var(--smedium-space) + 1em + 3 * var(--small-space)
            );
            display: none;
            background-color: var(--background-colour);
            font-size: var(--font-size-tiny);
            transition: all 200ms ease-in-out;
            border-radius: 10px;
            padding: var(--small-space);

            code {
                font-family: "Berkeley Mono", monospace;
                color: var(--text-alt-colour);
            }
        }

        &:has(span:hover),
        &:has(span:focus) {
            .stats-details {
                display: block;
            }
        }
    }
}
