body > header {
  padding: var(--small-space) 0;
  width: var(--content-width);
  margin: var(--large-space) auto 2em auto;

  display: flex;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--medium-space);
  }

  & > a {
    /* Safari underlines block level elements within an A... */
    text-decoration: none;
  }

  h1 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-highlight-colour);
    font-family: "Berkeley Mono", monospace;
    text-transform: uppercase;
    text-wrap: nowrap;

    .prelude {
      font-size: var(--font-size-small);
      line-height: 1;
      color: var(--text-alt-colour);
      text-decoration: none;
    }

    .title {
      font-size: var(--font-size-giant);
      line-height: 1;
    }

    border-bottom: 4px solid var(--accent-colour);
  }

  nav {
    display: flex;
    gap: 20px;
    align-items: flex-end;

    a {
      font-family: "Berkeley Mono", monospace;
      text-transform: uppercase;
      white-space: nowrap;
      text-decoration: none;
      background-image: linear-gradient(90deg, var(--accent-colour) 0%, var(--accent-colour) 32%, var(--text-highlight-colour) 65%, var(--text-highlight-colour) 100%);
      background-size: 300% auto;
      background-clip: text;
      background-position: 100% 0;
      color: transparent;
      transition: background-position ease-in-out 500ms;
      transition-delay: 300ms;

      &::before {
        content: "/";
        color: var(--accent-colour);
      }

      &::after {
        content: "/";
        color: var(--accent-colour);
        opacity: 0;
        transition: opacity ease-in-out 300ms;
        transition-delay: 0ms;
      }

      &:hover, &:active, &:focus {
        background-position-x: 0;
        transition-duration: 500ms;
        transition-delay: 0ms;
        &::after {
          transition-delay: 450ms;
          opacity: 1;
        }
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}