/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

code[class*="language-"],
pre[class*="language-"],
code[class*="chroma-"],
pre[class*="chroma-"] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: "Berkeley Mono", monospace;
    font-size: var(--font-size-tiny);
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"],
pre[class*="chroma-"] {
    margin: var(--medium-space) calc(-1 * var(--content-margin));
    overflow: auto;
    border-radius: 0;
    width: 100vw;
    padding: var(--medium-space)
        calc(var(--content-margin) + var(--medium-space));
}

:not(pre) > code[class*="language-"],
:not(pre) > code[class*="chroma-"],
pre[class*="language-"],
pre[class*="chroma-"] {
    background: var(--background-alt-colour);
}

/* Inline code */
:not(pre) > code[class*="language-"],
:not(pre) > code[class*="chroma-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #6272a4;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #ff79c6;
}

.token.boolean,
.token.number {
    color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: #f1fa8c;
}

.token.keyword {
    color: #8be9fd;
}

.token.regex,
.token.important {
    color: #ffb86c;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

/** Chroma **/
/* Error */
.chroma-chroma .chroma-err {
    color: #ff0000;
}
/* Line */
.chroma-chroma .chroma-line {
    display: flex;
}
/* Keyword */
.chroma-chroma .chroma-k {
    color: #8cb8fa;
}
/* KeywordConstant */
.chroma-chroma .chroma-kc {
    color: #8cb8fa;
}
/* KeywordDeclaration */
.chroma-chroma .chroma-kd {
    color: #8cb8fa;
}
/* KeywordNamespace */
.chroma-chroma .chroma-kn {
    color: #8cb8fa;
}
/* KeywordPseudo */
.chroma-chroma .chroma-kp {
    color: #8cb8fa;
}
/* KeywordReserved */
.chroma-chroma .chroma-kr {
    color: #8cb8fa;
}
/* KeywordType */
.chroma-chroma .chroma-kt {
    color: #50fa7b;
}
/* NameAttribute */
.chroma-chroma .chroma-na {
    color: #50fa7b;
}
/* NameBuiltin */
.chroma-chroma .chroma-nb {
    color: #faeb8c;
}
/* NameFunction */
.chroma-chroma .chroma-nf {
    color: #faeb8c;
}
/* NameTag */
.chroma-chroma .chroma-nt {
    color: #ff79c6;
}
/* LiteralDate */
.chroma-chroma .chroma-ld {
    color: #50fa7b;
}
/* LiteralString */
.chroma-chroma .chroma-s {
    color: #50fa7b;
}
/* LiteralStringAffix */
.chroma-chroma .chroma-sa {
    color: #50fa7b;
}
/* LiteralStringBacktick */
.chroma-chroma .chroma-sb {
    color: #50fa7b;
}
/* LiteralStringChar */
.chroma-chroma .chroma-sc {
    color: #50fa7b;
}
/* LiteralStringDelimiter */
.chroma-chroma .chroma-dl {
    color: #50fa7b;
}
/* LiteralStringDoc */
.chroma-chroma .chroma-sd {
    color: #50fa7b;
}
/* LiteralStringDouble */
.chroma-chroma .chroma-s2 {
    color: #50fa7b;
}
/* LiteralStringEscape */
.chroma-chroma .chroma-se {
    color: #50fa7b;
}
/* LiteralStringHeredoc */
.chroma-chroma .chroma-sh {
    color: #50fa7b;
}
/* LiteralStringInterpol */
.chroma-chroma .chroma-si {
    color: #50fa7b;
}
/* LiteralStringOther */
.chroma-chroma .chroma-sx {
    color: #50fa7b;
}
/* LiteralStringRegex */
.chroma-chroma .chroma-sr {
    color: #50fa7b;
}
/* LiteralStringSingle */
.chroma-chroma .chroma-s1 {
    color: #50fa7b;
}
/* LiteralStringSymbol */
.chroma-chroma .chroma-ss {
    color: #50fa7b;
}
/* LiteralNumber */
.chroma-chroma .chroma-m {
    color: #bd93f9;
}
/* LiteralNumberBin */
.chroma-chroma .chroma-mb {
    color: #bd93f9;
}
/* LiteralNumberFloat */
.chroma-chroma .chroma-mf {
    color: #bd93f9;
}
/* LiteralNumberHex */
.chroma-chroma .chroma-mh {
    color: #bd93f9;
}
/* LiteralNumberInteger */
.chroma-chroma .chroma-mi {
    color: #bd93f9;
}
/* LiteralNumberIntegerLong */
.chroma-chroma .chroma-il {
    color: #bd93f9;
}
/* LiteralNumberOct */
.chroma-chroma .chroma-mo {
    color: #bd93f9;
}
/* Comment */
.chroma-chroma .chroma-c {
    color: #6272a4;
}
/* CommentHashbang */
.chroma-chroma .chroma-ch {
    color: #6272a4;
}
/* CommentMultiline */
.chroma-chroma .chroma-cm {
    color: #6272a4;
}
/* CommentSingle */
.chroma-chroma .chroma-c1 {
    color: #6272a4;
}
/* CommentSpecial */
.chroma-chroma .chroma-cs {
    color: #6272a4;
}
/* CommentPreproc */
.chroma-chroma .chroma-cp {
    color: #6272a4;
}
/* CommentPreprocFile */
.chroma-chroma .chroma-cpf {
    color: #6272a4;
}
