.walks-table {
    border-bottom: none;

    td {
        white-space: nowrap;
    }

    tr {
        background-color: transparent;
    }

    time {
        color: var(--text-alt-colour);
    }

    svg {
        vertical-align: middle;
    }

    .distance-bar-cell {
        width: 100%;

        .distance-bar-container {
            display: inline-block;
            overflow: hidden;
            border-radius: 5px;
            background-color: var(--background-alt-colour);
            box-shadow: 2px 2px 5px black;
            height: 0.5em;
            width: 100%;
            vertical-align: middle;

            .distance-bar-fill {
                display: block;
                background-color: var(--accent-colour);
                min-height: 100%;
                border-radius: 5px;
            }
        }
    }
}

.walking-stats-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--smedium-space);
}

.walkingdistance-badge {
    display: inline-grid;
    grid-template-areas:
        "image title"
        "image reps"
        "progress progress";

    grid-template-columns: auto 1fr;

    background-color: var(--background-alt-colour);
    border-radius: var(--border-radius);
    padding: var(--smedium-space);
    row-gap: var(--small-space);
    column-gap: var(--smedium-space);

    svg {
        grid-area: image;
        fill: var(--text-colour);
        width: 64px;
        height: 64px;
    }

    h4 {
        grid-area: title;
        font-size: var(--font-size-regular);
        font-family: inherit;
        margin: 0;

        &::before {
            content: none;
        }
    }

    .times {
        grid-area: reps;
        margin: 0;
        font-size: var(--font-size-large);

        span {
            color: var(--text-alt-colour);
        }
    }

    .progress-container {
        grid-area: progress;
        border-radius: 5px;
        height: 0.5em;
        background-color: var(--background-colour);

        .progress-bar {
            border-radius: 5px;
            height: 0.5em;
            background-color: var(--accent-colour);
        }
    }
}
